body {
    height: 3000px;
}
.element-sticks {
    background-color: black;
    color: white;
    bottom: 20px;
    right: 20px;
    position: fixed;
}
.right-sidebar {
    background-color: green;
    color: white;
    position: fixed;
    width: 100px;
    top: 0;
    right: 0px;
    height: 100%;
}
.cover {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
